<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Reservation</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<header>
  <div class="logo">
    <a href="/"><img src="../home-icon.png" alt="Home Icon"></a>
  </div>
  <nav>
    <ul>
      <li><a href="/reservation/calendar">캘린더</a></li>
      <li><a href="/post/carImagePostList">촬영 게시판</a></li>
      <li><a href="/post/wishPostList">건의 게시판</a></li>
      <li><a href="/reservation/textList">예약 목록</a></li>
      <li><a href="/managerLogin">관리자 페이지</a></li>
    </ul>
  </nav>
  <div class="profile">
    <!--        <a href="#"><img src="profile-icon.png" alt="Profile Icon"></a>-->
  </div>
</header>

<li><a href="/carManagement">차량 등록</a></li>
<li><a href="/reservation/management">예약 확정 페이지</a></li>
<li><a href="/warningImageUpload">경고문 등록 페이지</a></li>
</body>
</html>