<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="description" content="">
    <title>Create Form</title>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <link href="../default.css" rel="stylesheet" type="text/css" media="all">
    <link href="../fonts.css" rel="stylesheet" type="text/css" media="all">
    <!--[if IE 6]>
    <link href="default_ie6.css" rel="stylesheet" type="text/css"/><![endif]-->


    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css" rel="stylesheet"/>
    <style>
        /* 캘린더 전체 너비와 높이 줄이기 */
        #calendar {
            max-width: 800px; /* 원하는 너비로 조정 */
            margin: 0 auto; /* 중앙 정렬 */
        }

        /* FullCalendar 내부 요소 크기 줄이기 */
        .fc-toolbar, .fc-daygrid {
            font-size: 0.85em; /* 폰트 크기 줄이기 */
        }

        .fc-daygrid-day {
            padding: 5px; /* 각 날짜 셀의 패딩 줄이기 */
        }


    </style>
</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <a href="/"><img src="../home-icon.png" alt="Home Icon"></a>
            <h1><a href="/">평촌교회 청년부 차량 예약 시스템</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li><a href="/reservation/calendar" accesskey="1" title="캘린더">캘린더</a></li>
                <li><a href="/post/carImagePostList" accesskey="2" title="촬영 게시판">촬영 게시판</a></li>
                <li><a href="/post/wishPostList" accesskey="3" title="건의 게시판">건의 게시판</a></li>
                <li><a href="/reservation/textList" accesskey="4" title="예약 목록">예약 목록</a></li>
                <li><a href="/managerLogin" accesskey="5" title="관리자 페이지">관리자 페이지</a></li>
            </ul>
        </div>
    </div>
</div>

<div><br><br></div>

<form id="reservationForm" class="custom-form" role="form">
    <div class="form-wrapper">
        <div class="form-container">
            <input type="hidden" name="carId" id="carId" th:value="${carId}"/>

            <div class="form-group">
                <label for="name">신청자 이름</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="이름을 입력하세요"/>
            </div>

            <div class="form-group">
                <label for="phoneNumber">핸드폰 번호</label>
                <input type="text" name="phoneNumber" id="phoneNumber" class="form-control" placeholder="(-)없이 번호를 입력하세요"/>
            </div>

            <div class="form-group">
                <label for="affiliation">신청 부서(팀)</label>
                <input type="text" name="affiliation" id="affiliation" class="form-control" placeholder="부서(팀)을 입력하세요"/>
            </div>

            <div class="form-group">
                <label for="purpose">목적지 및 사용 목적</label>
                <input type="text" name="purpose" id="purpose" class="form-control" placeholder="목적지 : 사용 목적 형식으로 입력하세요"/>
            </div>

            <div class="form-group">
                <label for="numberOfPassengers">탑승 인원</label>
                <input type="text" name="numberOfPassengers" id="numberOfPassengers" class="form-control" placeholder="탑승 인원을 입력하세요"/>
            </div>

            <div class="form-group">
                <label for="startTime">차량 이용 시작 시간</label>
                <input type="text" id="startTime" name="startTime" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="endTime">차량 이용 완료 시간</label>
                <input type="text" id="endTime" name="endTime" class="form-control"/>
            </div>

            <!-- 버튼을 폼의 아래쪽 가운데에 배치할 영역 -->
            <div class="form-button-container">
                <button type="submit" class="submit">제출</button>
            </div>
        </div>

        <div id="calendar"></div> <!-- FullCalendar를 표시할 DIV -->
    </div>
</form>

<div><br><br></div>
<div><br><br></div>
<div><br><br></div>
<!--footer-->
<div><br><br></div>
<div id="wrapper1">
    <div id="welcome" class="container">
    </div>
</div>

<!-- Include Flatpickr JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- FullCalendar JS -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales/ko.js"></script> <!-- 한국어 로케일 파일 추가 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var carId = document.getElementById('carId').value;

    var calendar = new FullCalendar.Calendar(calendarEl, {
        locale: 'ko',
        initialView: 'dayGridMonth',
        events: `/reservation/getReservationListById?carId=${carId}`, // 차량 ID에 따른 예약 리스트를 가져옴
        eventContent: function(arg) {
            var startTime = formatTime(arg.event.start);
            var endTime = arg.event.end ? formatTime(arg.event.end) : 'N/A';
            var affiliation = arg.event.extendedProps.affiliation;

            return {
                html: `
                    <div>
                        <strong>${affiliation}</strong><br>
                        <strong>Start:</strong> ${startTime}<br>
                        <strong>End:</strong> ${endTime}
                    </div>
                `
            };
        },
        eventClassNames: function(event) {
            return event.reserved ? 'fc-event-reserved' : '';
        },
        selectable: true,
        select: function(info) {
            document.getElementById('startTime').value = info.startStr;
            document.getElementById('endTime').value = info.endStr;
        }
    });
    calendar.render();
});

// 시간을 AM/PM 형식으로 변환하는 함수
function formatTime(date) {
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12; // 0 시는 12로 변환
    minutes = minutes < 10 ? '0' + minutes : minutes;
    return hours + ':' + minutes + ' ' + ampm;
}

function initializeFlatpickr(selector) {
    flatpickr(selector, {
        enableTime: true,
        dateFormat: "Y-m-d\\TH:i:S", // ISO 8601 형식으로 변경
        time_24hr: true,
        minuteIncrement: 30,
        defaultDate: new Date(),
        onReady: function(selectedDates, dateStr, instance) {
            const currentDate = new Date();
            const formattedDate = `${currentDate.getFullYear()}-${('0' + (currentDate.getMonth() + 1)).slice(-2)}-${('0' + currentDate.getDate()).slice(-2)}T${('0' + currentDate.getHours()).slice(-2)}:00:00`;
            instance.setDate(formattedDate);
        }
    });
}

// Flatpickr 초기화
initializeFlatpickr('#startTime');
initializeFlatpickr('#endTime');


$('#reservationForm').on('submit', function(event) {
    event.preventDefault();

    // 클라이언트 측 유효성 검사
    var name = $('#name').val().trim();
    var phoneNumber = $('#phoneNumber').val().trim();
    var affiliation = $('#affiliation').val().trim();
    var purpose = $('#purpose').val();
    var numberOfPassengers = $('#numberOfPassengers').val();
    var startTime = $('#startTime').val();
    var endTime = $('#endTime').val();

    if (!name) {
        alert('이름을 입력하세요.');
        $('#name').focus();
        return;
    }

    if (!phoneNumber) {
        alert('번호를 입력하세요.');
        $('#phoneNumber').focus();
        return;
    }

    if (!affiliation) {
        alert('소속을 입력하세요.');
        $('#affiliation').focus();
        return;
    }

    if (!purpose) {
        alert('목적지 및 사용 목적을 입력하세요.');
        $('#purpose').focus();
        return;
    }

    if (!numberOfPassengers) {
        alert('탑승 인원을 입력하세요.');
        $('#numberOfPassengers').focus();
        return;
    }

    if (!startTime) {
        alert('예약 시작 시간을 선택하세요.');
        $('#startTime').focus();
        return;
    }

    if (!endTime) {
        alert('예약 끝나는 시간을 선택하세요.');
        $('#endTime').focus();
        return;
    }

    // 모든 유효성 검사를 통과하면 서버로 데이터를 전송합니다.
    var formData = $(this).serialize();
    $.ajax({
        type: 'POST',
        url: '/reservation/new',
        data: formData,
        success: function(response) {
            if (response.success) {
                var carId = $('#carId').val();
                var name = $('#name').val();
                var phoneNumber = $('#phoneNumber').val();
                var affiliation = $('#affiliation').val();
                var purpose = $('#purpose').val();
                var numberOfPassengers = $('#numberOfPassengers').val();
                var startTime = $('#startTime').val();
                var endTime = $('#endTime').val();

                window.location.href = `/reservation/confirm?carId=${carId}&name=${name}&phoneNumber=${phoneNumber}&affiliation=${affiliation}&purpose=${purpose}&numberOfPassengers=${numberOfPassengers}&startTime=${startTime}&endTime=${endTime}`;
            } else {
                alert(response.errorMessage);
            }
        }

    });
});

</script>
</body>
</html>