<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="">
  <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
  <meta name="description" content="">
  <title></title>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
  <link href="/default.css" rel="stylesheet" type="text/css" media="all">
  <link href="/fonts.css" rel="stylesheet" type="text/css" media="all">
  <!--[if IE 6]>
  <link href="default_ie6.css" rel="stylesheet" type="text/css"/><![endif]-->
</head>
<body>

<div id="header-wrapper">
  <div id="header" class="container">
    <div id="logo">
      <a href="/"><img src="/home-icon.png" alt="Home Icon"></a>
      <h1><a href="/">평촌교회 청년부 차량 예약 시스템</a></h1>
    </div>
    <div id="menu">
      <ul>
        <li><a href="/reservation/calendar" accesskey="1" title="캘린더">캘린더</a></li>
        <li><a href="/post/carImagePostList" accesskey="2" title="촬영 게시판">촬영 게시판</a></li>
        <li><a href="/post/wishPostList" accesskey="3" title="건의 게시판">건의 게시판</a></li>
        <li><a href="/reservation/textList" accesskey="4" title="예약 목록">예약 목록</a></li>
        <li><a href="/managerLogin" accesskey="5" title="관리자 페이지">관리자 페이지</a></li>
      </ul>
    </div>
  </div>
</div>

<div><br><br></div>

<main class="post-detail-container">
  <h1 class="post-detail-title" th:text="${post.title}">게시글 제목</h1>

  <div class="post-detail-author">
    <h5 class="post-detail-author-label">작성자:</h5>
    <p class="post-detail-author-name" th:text="${post.author}">작성자 이름</p>
  </div>

  <div class="post-detail-content">
    <h5 class="post-detail-content-label">차량 사용 목적:</h5>
    <p class="post-detail-content-text" th:text="${post.content}">게시글 내용</p>
  </div>

  <div class="post-detail-images">
    <h5 class="post-detail-images-label">이미지:</h5>
    <div th:if="${post.imageUrls != null}">
      <div th:each="imageUrl : ${post.imageUrls}">
        <img th:src="@{${imageUrl}}" class="post-detail-image" alt="Post Image">
      </div>
    </div>
  </div>

  <div class="post-detail-back">
    <a href="/post/carImagePostList" class="post-detail-back-btn">목록으로 돌아가기</a>
  </div>
</main>

<!--footer-->
<div><br><br></div>
<div id="wrapper1">
  <div id="welcome" class="container">
  </div>
</div>

</body>
</html>