<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="">
  <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
  <meta name="description" content="">
  <title></title>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
  <link href="/default.css" rel="stylesheet" type="text/css" media="all">
  <link href="/fonts.css" rel="stylesheet" type="text/css" media="all">
  <!--[if IE 6]>
  <link href="default_ie6.css" rel="stylesheet" type="text/css"/><![endif]-->
</head>
<body>

<div id="header-wrapper">
  <div id="header" class="container">
    <div id="logo">
      <a href="/"><img src="/home-icon.png" alt="Home Icon"></a>
      <h1><a href="/">평촌교회 청년부 차량 예약 시스템</a></h1>
    </div>
    <div id="menu">
      <ul>
        <li><a href="/reservation/calendar" accesskey="1" title="캘린더">캘린더</a></li>
        <li><a href="/post/carImagePostList" accesskey="2" title="촬영 게시판">촬영 게시판</a></li>
        <li><a href="/post/wishPostList" accesskey="3" title="건의 게시판">건의 게시판</a></li>
        <li><a href="/reservation/textList" accesskey="4" title="예약 목록">예약 목록</a></li>
        <li><a href="/managerLogin" accesskey="5" title="관리자 페이지">관리자 페이지</a></li>
      </ul>
    </div>
  </div>
</div>

<div><br><br></div>

<main class="post-form-container">
  <h1 class="post-form-title">게시글 작성</h1>

  <form action="#" th:action="@{/post/new/carImagePost}" th:object="${post}" method="post" enctype="multipart/form-data" id="post-form" class="post-form">
    <div class="post-form-group">
      <label for="title" class="post-form-label">제목</label>
      <input type="text" class="post-form-input" id="title" th:field="*{title}" required>
    </div>
    <div class="post-form-group">
      <label for="content" class="post-form-label">내용</label>
      <textarea class="post-form-textarea" id="content" rows="6" th:field="*{content}" required></textarea>
    </div>
    <div class="post-form-group">
      <label for="author" class="post-form-label">작성자</label>
      <input type="text" class="post-form-input" id="author" th:field="*{author}" required>
    </div>
    <div class="post-form-group">
      <label for="images" class="post-form-label">이미지 업로드</label>
      <input type="file" class="post-form-file" id="images" name="files" multiple>
    </div>
    <button type="submit" class="post-form-submit-btn">게시글 작성</button>
  </form>
</main>

<!--footer-->
<div><br><br></div>
<div id="wrapper1">
  <div id="welcome" class="container">
  </div>
</div>

</body>
</html>